body{
  text-decoration: none;
  color: #333333;
  font-family: "Hiragino Kakugo Pro W3";
  font-weight: normal;
  background-image:url("../images/mainvisual2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 280px;
  margin: 0;
}

.wrapper{
  position: relative;
}

header{
  background-color: #FFFFFF;
  height: 80px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  position: absolute;
  overflow: hidden;
  top: 0px;
  width: 100%;
}

header .menu{
  width: 28px;
  float: left;
  margin-left: 28px;
  margin-top: 28px;
}

header .logo{
  float: left;
  margin-left: 18px;
  margin-top: 20px;
}

nav{
  width: 406px;
/*   width: 350px; */
  float: right;
  margin-top: 11px;
  margin-right: 262px
}

nav img{
  float: left;
  padding-left: 40px;
}

.shindan{
  width: 206px;
  height: 305px;
  position: absolute;
  top: 0px;
  right: 20px;
  overflow: hidden;
  background-image:url("../images/shindan.png");
  text-align: center;
}

.close{
  float: right;
  margin-right: 35px;
  margin-top: 8px;
}









@media screen and (max-width: 1100px) {
   /* 表示領域が880px以下の場合に適用するスタイル */
   header{ width:1100px; }
}
